.RecoverPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .divRow {
        display: flex;
        justify-content: space-evenly;
        max-width: 1620px;
        width: 100%;
        flex-wrap: wrap;
        margin: 10px;

        .divCol {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            gap: 20px;
            color: #fff;
            padding: 20px;
            border-radius: 20px;
            border: var(--border);
            background: var(--black);
            margin-bottom: 20px;

            header {
                font-size: 3rem;
                text-align: center;
            }

            p {
                font-size: 1.2rem;
                color: #ccc;
            }

            .formInputs {
                display: flex;
                flex-direction: column;
                gap: 20px;

                input {
                    width: 100%;
                    border-radius: 16px;
                    padding: 10px 0px 10px 10px;
                    border: var(--border);
                    background-color: var(--black);
                    color: #fff;
                    text-transform: none;
                }

                .btnRecoverPassword {
                    font-size: 1.8rem;
                    background: var(--main-color);
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .divRow {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .divCol {
            padding: 50px 20px !important;
        }
    }
}
