.WishFilter {
    display: flex;
    align-items: center;
    gap: 10px;

    .sort {
        display: flex;
        gap: 10px;
        font-size: 1.3rem;
        border: var(--border);
        border-radius: 16px;
        transition: 0.3s linear;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
            background-color: var(--grey);
        }
    }
}
