.BtnPlusMinus {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  padding: 10px;
  background: var(--black);
  color: #fff;
  text-transform: none;
  transition: 0.3s linear;
  cursor: pointer;
}

.BtnPlusMinus:hover {
  background: var(--light-black);
}
