.formInputs {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .inputText {
        width: 100%;
        border: var(--border);
        border-radius: 16px;
        padding: 10px 0px 10px 10px;
        background: var(--black);
        color: #fff;
    }

    .btnSignUp {
        font-size: 1.8rem;
        background: var(--main-color);
        color: #fff;
        cursor: pointer;
        border-radius: 16px;
        padding: 10px 0px 10px 10px;
    }

    .checkboxGroup {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h3 {
            font-size: 2rem;
            color: var(--main-color);
        }

        label {
            font-weight: 300;
            font-size: 1.5rem;
            display: flex;
            gap: 5px;
            color: #ccc;

            .inputCheckbox {
                border: var(--border);
                accent-color: var(--main-color);
                width: 18px;
                height: 18px;
                cursor: pointer;
            }
        }

        .checkBoxMessage {
            font-size: 1.2rem;
            margin-left: 5px;
            color: rgb(255, 0, 34);
            font-weight: 300;
        }
    }
}
