.Shopper {
    .fieldsetInputs {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .fieldsetInputs {
        grid-template-columns: 1fr !important;
    }
}
