.SignIn {
    background-color: var(-bg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    color: #fff;
    padding: 10px;
    font-size: 2rem;

    .formContainer {
        flex-basis: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 20px;
        padding: 20px 20px;
        margin-bottom: 30px;
        background-color: var(--black);
        border: var(--border);
        border-radius: 20px;

        header {
            font-size: 3rem;
            margin-bottom: 20px;
            text-align: center;
        }

        .formInputs {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 25px;
            margin: 0 30px 0 30px;

            input {
                width: 100%;
                border-radius: 20px;
                padding: 10px 0px 10px 10px;

                text-transform: none;
            }

            a {
                text-transform: none;
                font-size: 1.2rem;
                color: var(--main-color);
            }

            .btnSignIn {
                font-size: 1.8rem;
                background: var(--main-color);
                color: #fff;
                cursor: pointer;
            }
        }
    }
}
