.PopupBasket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    color: var(--bg);
    right: -100%;
    top: 0;
    width: 500px;
    height: 100%;
    background: rgb(240, 240, 240);
    gap: 10px;

    .btnDiv {
        flex-basis: 100px;
        width: 100%;
        background: rgb(221, 221, 221);
        align-self: flex-end;
        margin-bottom: 20px;
    }
    .products {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        gap: 10px;
        flex-basis: 100%;
        padding-right: 1px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .products::-webkit-scrollbar-track {
        background: rgb(240, 240, 240);
    }

    .btnBuyProducts {
        align-self: stretch;
        background-color: var(--main-color) !important;
        color: #fff;
        font-size: 1.3rem;
        padding: 10px 0 10px 0;
        cursor: pointer;
    }
    .btnBuyProducts:hover {
        letter-spacing: 0.1rem;
    }

    .summaryPrice {
        align-self: flex-end;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 1.3rem;

        div {
            display: flex;
            justify-content: space-between;
        }
        .singleProductSave {
            color: rgb(17, 158, 0);
        }

        .singleProductTotalCost {
            font-weight: bold;

            .price {
                align-self: flex-end;
            }
        }
    }
}

.PopupBasket.active {
    right: 0;
}
