.RowsSmallIcon {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 8px 8px;

  .rowContent {
    display: flex;
    flex-direction: row;
    gap: 1px;

    .squareIcon {
      width: 3px;
      height: 3px;
      background-color: var(--light-grey);
      margin: 1px;
    }
    .barIcon {
      width: 15px;
      height: 3px;
      background-color: var(--light-grey);
      margin: 1px;
    }
  }
}

.RowsSmallIcon.selectedView {
  background-color: var(--light-grey);

  .squareIcon {
    background-color: var(--darker-grey);
  }
  .barIcon {
    background-color: var(--darker-grey);
  }
}
