.HomeSection {
    display: flex;
    flex-direction: column;
    background-image: url("../../../public/images/home-img.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    .textAreaHome {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-left: 10%;
        color: #fff;
        gap: 20px 0;

        header {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 5rem;
        }

        p {
            font-size: 1.5rem;
            font-weight: lighter;
        }

        a {
            align-self: flex-start;
            background-color: var(--main-color);
            color: #fff;
            font-size: 1.7rem;
            padding: 12px 35px 12px 35px;
            cursor: pointer;
        }
        a:hover {
            letter-spacing: 0.1rem;
        }
    }
}
@media screen and (max-width: 900px) {
    .HomeSection {
        justify-content: center;
        .textAreaHome {
            header {
                font-size: 4rem !important;
            }

            p {
            }
        }
    }
}
