.LatestProduct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  padding: 30px 0;
  transition: 0.3s linear;

  &:hover {
    box-shadow: var(--shadow-thin);
    background-color: var(--light-greay);
  }

  .contentWrapper {
    img {
      width: 100%;
      max-width: 120px;
      height: 210px;
      object-fit: cover;
    }

    .divRatingsStars {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .productName {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      height: 40px;
      font-size: 1.7rem;
      transition: 0.2s linear;
      position: relative;
      cursor: pointer;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   bottom: -1.5px;
      //   left: 50%;
      //   right: 50%;
      //   width: 0;
      //   height: 2px;
      //   background-color: var(--text-color);
      //   transition: all 0.3s ease;
      // }
      &:hover {
        text-decoration: underline;
      }
      // &:hover::before {
      //   width: 100%;
      //   left: 0;
      //   right: 0;
      // }
    }

    .intensity {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-size: 1.3rem;
      font-weight: 300;
      text-transform: uppercase;
      color: var(--text-color);
      margin-bottom: 5px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;
        box-shadow: var(--shadow-thin);
        border-radius: 50%;
        font-weight: bold;
      }
    }
  }

  .price {
    font-size: 2.2rem;
    color: var(--text-color);

    .oldPrice {
      font-size: 1.5rem;
      text-decoration: line-through;
      color: var(--text-color);
      opacity: 0.7;
    }
  }
}
