.singleCustomer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: var(--border);
    text-align: center;
    background-color: var(--black);

    p:nth-of-type(1) {
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: #ccc;
    }

    .avatar {
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .name {
        font-size: 1.7rem;
        font-weight: bold;
    }
}
