.EditInvoice {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 102;
    color: #fff;
    background-color: var(--black);
    border-radius: 8px;
    width: 400px;

    .flexBoxDiv {
        display: grid;
        grid-template-rows: auto 1fr;
        height: 100%;

        .headerDiv {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: var(--grey-darken);
            width: 100%;
            padding: 10px 15px;
            border-radius: 8px;
            .headerName {
                font-size: 2rem;
            }
        }

        .columnForm {
            display: grid;
            grid-template-rows: auto auto;
            gap: 20px;
            margin-top: 20px;

            .divInputs {
                display: flex;
                flex-direction: column;
                padding: 0 15px 0 15px;
                gap: 20px;
            }
        }
    }
}

@media (max-width: 420px) {
    .AddInvoice {
        transform: none;
        width: auto;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}
