@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  /* transition: 0.2s linear; */
}

:root {
  --main-color: #d3ad7f;
  --main-color-darken: #d3a369;
  --black: #0e0e13;
  --light-black: #1a1a23;
  --bg: #04040b;
  --blue: #151522;
  --grey: #323232;
  --grey-darken: #202029;
  --green: rgb(31, 129, 20);
  --green-darken: rgb(27, 113, 17);
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --red: rgb(180, 3, 28);
  --red-darken: rgb(156, 4, 24);
  --shadow: rgba(255, 255, 255, 0.491) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.496) 0px 0px 2px 1px;
  --shadow-thin: rgba(255, 255, 255, 0.25) 0px 0px 1px 1px,
    rgba(255, 255, 255, 0.13) 0px 0px 1px 1px;
  --blur-screen: rgb(60, 60, 60);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
}

#root {
  display: grid;
  min-height: 100vh;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
section.columnWeb {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 30px;
}

section.adminWeb {
  display: flex;
  justify-content: stretch;
}

section.columnAdmin {
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Toastify__toast-body {
  font-size: 1.4rem;
}

.absoluteDivApp {
  position: absolute;
}
