div.BlogsSectionn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;

    div.blogs {
        max-width: 900px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;

        div.singleBlog {
            flex-basis: 32.4%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            border: var(--border);
            overflow: hidden;
           
            div.zoomImage{
                overflow: hidden;
                img {
                    width: 100%;
              
                }
            }

            div.textSection {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap:10px;
                margin: 10px;
                
                h2 {
                    font-size: 2rem;
                    cursor: pointer;
                }

                h2:hover {
                    color: #ccc;
                }

                h4 {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color:var(--main-color)
                }
                
                p {
                    font-size: 1.3rem;
                    color: #ccc;
                }

                button {
                    background-color: var(--main-color);
                    color: #fff;
                    font-size: 1.6rem;
                    padding: 6px 17.5px 6px 17.5px;
                    cursor: pointer;
                }
                button:hover{
                    letter-spacing: .1rem;
                }
            }
        }

        div.singleBlog:hover img {
            transform: scale(1.1);
        }
    }

}

@media screen and (max-width: 800px) {
    div.blogs {
       max-width: 600px !important;
       flex-direction: column !important;

    }
}

