div.HomeSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url('../images/home-img.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 100vh;

    div {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-left: 10%;
        color: #fff;
        gap: 20px 0;
        
        header {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 5rem;
        }

        p {
            font-size: 1.5rem;
            font-weight: lighter;
        }
        
        button {
           align-self: flex-start;
           background-color: var(--main-color);
           color: #fff;
           font-size: 1.7rem;
           padding: 12px 35px 12px 35px;
           cursor: pointer;
        }
        button:hover{
            letter-spacing: .1rem;
        }
    }
}