div.MenuSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

    div.itemsProduct {
        max-width: 900px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;  
        font-size: 1.5rem;
        gap: 20px;

        div {
            // flex-basis: 30%;
            // padding: 50px 0 50px 0;
           padding: 20px 50px 20px 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: var(--border);
            background-color: var(--black);
            gap: 25px;

            image {
                width: 100%;
            }
            p:nth-of-type(1) {
                font-weight: bold;
                font-size: 20px;
            }
            p:nth-of-type(2) {
                font-size: 2.2rem;

                span:nth-of-type(2) {
                    font-size: 1.5rem;
                    text-decoration: line-through;
                    color: #ccc;
                }
            }

            button {
                background-color: var(--main-color);
                color: #fff;
                font-size: 1.7rem;
                padding: 12px 35px 12px 35px;
                cursor: pointer;
             }

             button:hover{
                 letter-spacing: .1rem;
             }
        }

        div:hover {
            background-color: #fff;
            color:#000;
        }
    }
}