div.ReviewSection {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    div.customerReview {
        max-width: 900px;
        display: flex;
        flex-direction: row;

        div.singleCustomer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}