.PopupUserProfile2 {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 400px;
    height: 100%;
    top: 0;
    right: -500px;

    color: #fff;
    background: #1e1e31;
    border-radius: 0px;
    font-size: 1.8rem;
    list-style: none;
    z-index: 55;

    .btnSignIn_UpSection {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 15px;
        padding: 0 20px;

        .btnSignIn_Up {
            display: flex;
            align-items: center;
            justify-content: stretch;
            padding: 10px 0;
            border-radius: 20px;
            cursor: pointer;

            a {
                width: 100%;
                color: #fff;
                text-transform: none;
                text-align: center;
            }

            &:nth-of-type(1) {
                background: var(--main-color);

                &:hover {
                    background-color: #ce9754;
                }
            }
            &:nth-of-type(3) {
                border: 1px solid #ce9754;

                &:hover {
                    background-color: #ce9754;
                }
            }
        }

        .infoAcc {
            align-self: center;
            text-transform: none;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        border-top: var(--border);
        margin-top: 20px;

        li {
            a {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                text-transform: none;
                color: #fff;
                padding: 20px 10px;
                &:hover {
                    background-color: #151522;
                }
            }
        }
    }
}
.active {
    right: 0;
}

@media (max-width: 520px) {
    .PopupUserProfile2 {
        width: 100%;
    }
}
