.Review {
    display: flex;
    justify-content: space-between;
    border-top: var(--border);
    padding: 20px;

    .divRow {
        display: flex;

        .firstDiv {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .imgReviewProduct {
                max-width: 100px;
                width: 100%;
                height: auto;
            }

            .purchaseConfirmed {
                display: flex;
                align-items: center;
                font-size: 1.3rem;
                font-weight: 300;
                color: #ccc;
            }
        }

        .secondDiv {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 30px;
            gap: 10px;

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                .headline {
                    .title {
                        font-size: 1.6rem;
                        margin-bottom: 5px;
                    }
                    .ratingAndData {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        span {
                            font-size: 1.3rem;
                        }
                    }
                }

                .comment {
                    font-size: 1.3rem;
                    font-weight: 300;
                    color: #ccc;
                }
            }

            .mark {
                display: flex;

                .text {
                    margin-right: 15px;
                    font-size: 1.3rem;
                    color: #ccc;
                }

                .thumbs {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 1.3rem;
                    color: #ccc;

                    .thumb {
                        background-color: transparent;
                        color: #ccc;
                    }
                }
            }
        }
    }

    .thirdDiv {
        .btnDots {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            background-color: transparent;

            &:hover {
                background-color: var(--grey);
            }
        }
    }
}
