.AdminNavigationBar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 2rem;
  width: 100%;
  max-width: 250px;
  padding: 20px;
  position: relative;

  background-color: var(--black);

  .divDashboard {
    .dashboardBtn {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      gap: 20px;
      color: #fff;
      background-color: transparent;
      transition: 0.2s linear;
      cursor: pointer;

      &:hover {
        color: var(--main-color);
      }
    }
  }

  .divLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .navBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;

    .header {
      margin-bottom: 10px;
      font-weight: 500;
    }

    .adminLiElement {
      button {
        color: #fff;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 1.5rem;
        transition: 0.3s linear;
        cursor: pointer;

        &:hover {
          color: var(--main-color);
        }
      }
    }
  }
}

.activeDiv {
  position: absolute;
  left: -1000px;
}

@media (max-width: 1000px) {
  .AdminNavigationBar {
    max-width: 100%;

    .divLogo {
      display: none;
    }
  }
}
