.WishList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headline {
  font-size: 2rem;
}

.WishListProducts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
