.singleBlog {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 360px;
  height: auto;
  overflow: hidden;
  transition: 0.3s linear;

  .zoomImage {
    overflow: hidden;
    cursor: pointer;

    img {
      transition: 0.3s linear;
      width: 100%;
    }
  }

  .textSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 10px;
    color: var(--text-color);
    h2 {
      transition: 0.3s linear;
      font-size: 2rem;
      cursor: pointer;
    }

    h4 {
      font-size: 1.6rem;
      font-weight: 400;
    }

    p {
      font-size: 1.3rem;
    }
  }
}

.singleBlog:hover img {
  transform: scale(1.1);
}
