.BtnActive {
  padding: 8px 10px;
  border-radius: 16px;
  background-color: var(--black);
  box-shadow: 0 0 0 2px rgb(31, 129, 20);
  font-size: 1.6rem;
  color: var(--green);
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: var(--green);
  }
}
