.Faq {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  gap: 10px;

  .faqContent {
    max-width: 700px;
    margin: 0 10px 0 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: var(--shadow-thick);
    border-radius: 8px;

    div {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 10px;

      h2 {
        font-size: 1.9rem;
        color: var(--text-color);
        text-transform: none;
      }
      p {
        font-size: 1.7rem;
        text-transform: none;
        font-weight: 300;
        text-align: justify;
        padding: 1px;
      }
    }
  }
}
