.AdminSettings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  font-size: 1.2rem;

  .usersItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .usersItems {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 500px) {
  .usersItems {
    grid-template-columns: 1fr !important;
  }
}
