.AdminPage {
  display: grid;
  gap: 30px;
  color: #000;
  // max-width: 1280px;
  width: 100%;

  .divRightSide {
    display: grid;
    grid-template-rows: 100px 1fr;
  }

  .additionContainer {
    background-color: var(--light-greay);
    width: 250px;
  }
}

@media (max-width: 1000px) {
  .AdminPage {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr !important;
    gap: 0;
  }
}
