.AdminPage {
  display: grid;
  gap: 30px;
  color: #000;
  width: 100%;

  .divRightSide {
    display: grid;
    grid-template-rows: 100px 1fr;
  }
}

@media (max-width: 1000px) {
  .AdminPage {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    gap: 0;
  }
}
