.WishList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .divRow {
        display: flex;
        max-width: 1024px;
        width: 100%;
    }
}
