.popupBox {
    display: none;
    top: 60px;
    position: absolute;
    transform: translateX(-90%);

    input {
        width: 500px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        border: var(--border);
        color: var(--black);
        border-radius: 0;
        font-size: 1.5rem;
        font-weight: bold;
    }
}
.popupBox.active {
    display: block;
}

@media (max-width: 900px) {
    .popupBox {
        transform: translateX(-55%);

        input {
            width: 400px;
        }
    }
}

@media (max-width: 600px) {
    .popupBox {
        transform: translateX(-55%);

        input {
            width: 400px;
        }
    }
}

@media (max-width: 440px) {
    .popupBox {
        transform: translateX(-45%);

        input {
            width: 300px;
        }
    }
}
