.accountContent {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .divCol {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .divRow {
      display: flex;
      justify-content: space-between;
      color: var(--text-color);

      h2 {
        font-size: 2rem;
      }

      button {
        padding: 5px 10px;
        font-size: 1.4rem;
        color: var(--text-color);
        background-color: transparent;
        border-radius: 12px;
        transition: 0.2s linear;
        border: var(--border);
        cursor: pointer;

        &:hover {
          background-color: var(--light-greay);
        }
      }
    }
  }
}
