.SingleProduct {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    font-size: 1.4rem;

    img {
        width: 100%;
        max-width: 70px;
        height: auto;
    }

    .productDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 50%;
        font-weight: 300;

        .newPrice {
        }
        .oldPrice {
            font-size: 1.2rem;
            color: #ccc;
            text-decoration: line-through;
        }
    }

    .btnDeleteProduct {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        align-self: center;
        background-color: transparent;
        color: #fff;
        cursor: pointer;
    }

    .btnDeleteProduct:hover {
        border-radius: 50%;
        background-color: #434357;
    }
}
