.OurTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  margin: 10px;

  header {
    font-size: 3.5rem;
  }
  .aboutTeam {
    max-width: 600px;
    font-size: 1.8rem;
    text-align: center;
    text-transform: none;
    font-weight: 300;
    margin-bottom: 50px;
  }
  .team {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .OurTeam {
    margin: auto;
  }
}
