.AdminDashboard {
  padding-left: 10px;

  .dashBoardHeader {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }

  .dashBoardContent {
    font-size: 1.3rem;

    .titleHeader {
      margin-top: 20px;
    }

    .ulText {
      margin-left: 30px;

      p {
        max-width: 500px;
      }
    }
  }
}
