.largeProductsView {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.mediumProductsView {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .largeProductsView {
    justify-content: flex-start !important;
  }
}
