.AdminRatedReviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  .reviewItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
