.ProductsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .itemsSection {
    max-width: 1366px;
    width: 100%;
    display: flex;
    justify-content: center;

    .flexTemplate {
      display: inline-flex;
      justify-content: space-between;

      gap: 15px;

      div {
        width: 320px;
      }
    }
  }
}
