.OrderDetailsData {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .divContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.buttonShowOrders {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;

  .orderStatus {
    font-size: 20px;
  }
}
