.productList {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;

    p {
        font-size: 1.3rem;
        color: #ccc;
    }

    .imgProduct {
        max-width: 50px;
        width: 100%;
        height: auto;
    }

    .hiddenElements {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        font-size: 1.3rem;
        border: var(--border);
        border-radius: 4px;
    }
}
