.NavElement {
    width: 25%;
    position: relative;

    &::before {
        content: "";
        width: 70%;
        border-bottom: solid 2px rgba(255, 255, 255, 0.3);
        position: absolute;
        left: 65%;
        top: 12px;
        z-index: 1;
    }

    &:last-child::before {
        display: none;
    }
    .LiElement {
        display: flex;
        justify-content: center;
        align-items: center;

        .link {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 1.3rem;

            span {
                .dot {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 25px;
                    width: 25px;
                    border: var(--border);
                    color: #ccc;
                    font-size: 1.4rem;
                    font-weight: bold;
                    border-radius: 50%;
                }
            }
        }

        .disabledLink {
            pointer-events: none;
        }
    }
}

@media (max-width: 500px) {
    .NavElement {
        &::before {
            width: 55% !important;
            left: 72.5% !important;
        }
    }
}
