.singleCustomer {
  width: 316px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: var(--shadow-thin);
  transition: 0.3s linear;
  color: var(--text-color);
  cursor: pointer;

  &:hover {
    background-color: var(--light-greay);
    box-shadow: var(--shadow-thick);
  }

  p:nth-of-type(1) {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  .avatar {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .name {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
  }
}
