.BtnCancell {
  font-size: 13px;
  padding: 10px 15px;
  color: var(--text-color);
  border-radius: 18px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--dark-grey);
  }
}
@media (max-width: 560px) {
  .btnAdd {
    width: 100%;
    margin-bottom: 20px;
  }
}
