.mapContainer {
    width: 450px;
    height: 450px;
}

@media (max-width: 450px) {
    .mapContainer {
        width: 380px;
        height: 380px;
    }
}

@media (max-width: 400px) {
    .mapContainer {
        width: 320px;
        height: 320px;
    }
}

@media (max-width: 420px) {
    .mapContainer {
        width: 300px;
        height: 300px;
    }
}
