.Product {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--shadow-thin);
  background-color: var(--light-greay);
  padding: 12px;
  transition: 0.3s linear;

  &:hover {
    box-shadow: var(--shadow-thick);
  }

  .divRowFirst {
    display: flex;
    align-items: center;
    gap: 10px;

    .divImg {
      max-width: 60px;
      height: auto;

      img {
        width: 60px;
        height: 110px;
      }
    }

    .generalInfo {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .showMore {
        font-size: 1.3rem;
        font-weight: 300;
        text-align: start;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .divRowSecond {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.Product:nth-of-type(1) {
  border-radius: 12px 12px 0 0;
}
.Product:nth-last-of-type(1) {
  border-radius: 0 0 12px 12px;
}

@media (max-width: 720px) {
  .rating {
    display: none;
  }
}

@media (max-width: 520px) {
  .Product {
    flex-direction: row;
    position: relative;
    border-top: var(--border);
    background-color: transparent;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }

    .divRowSecond {
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 10px;

      .btnDots {
        top: 10px;
        right: 0;
        position: absolute;
        align-self: flex-end;
      }

      .btnFeedback {
        align-self: stretch;
        margin-left: 70px;
      }
    }
  }

  .Product:nth-of-type(1) {
    border-radius: 0 0 0 0;
  }
  .Product:nth-last-of-type(1) {
    border-radius: 0 0 0 0;
  }
}
