.AccountData {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.3rem;
  color: var(--text-color);

  .title {
    font-weight: bold;
  }

  .divRowUserData {
    display: flex;
    padding: 20px 10px;
    border: var(--border);
    border-radius: 8px;

    .line {
      flex-grow: 1;
    }
    .btnEdit {
      background-color: transparent;
      border-radius: 16px;
      transition: 0.2s linear;
      cursor: pointer;
    }
  }
}
