.BtnAddWishList {
  justify-self: end;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  padding: 5px 26px;
  text-transform: none;
  background-color: var(--black);
  color: #fff;
  transition: 0.3s linear;
  cursor: pointer;
}

.BtnAddWishList:hover {
  background-color: var(--light-black);
}
