.btnClose {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: transparent;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s linear;
    cursor: pointer;

    &:hover {
        background-color: var(--grey);
    }
    .btnIcon {
        width: 30px;
        height: 30px;
    }
}
