.ContactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  margin: 20px 10px 0 10px;

  .openHours {
    font-size: 2rem;
  }

  .wrapperDiv {
    max-width: 1366px;
    width: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 50px;
    margin-top: 20px;

    .content {
      display: flex;
      flex-direction: column;
      background-color: var(--black);
      font-size: 1.4rem;
      padding: 40px;
      gap: 40px;
    }

    .contactFormWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

@media (max-width: 900px) {
  .ContactSection {
    margin: 20px 5px;

    .wrapperDiv {
      grid-template-columns: 1fr !important;

      .contactFormWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}
