.ExtraDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
  margin: 0 10px;

  .ExtraDetailsBtn {
    display: flex;
    justify-content: center;
    gap: 20px;

    .reviewsLength {
      font-size: 1.3rem;
    }

    button {
      position: relative;
      color: var(--text-color);
      background-color: transparent;
      font-size: 2rem;
      cursor: pointer;
    }

    .btn {
      color: var(--main-color);
    }
    .btn:hover {
      color: var(--main-color);
    }
    .btn::after {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: var(--main-color);
      content: "";
    }
  }
}

@media (max-width: 500px) {
  .ExtraDetailsBtn {
    padding: 0 10px;
    button {
      font-size: 1.7rem !important;
    }
  }
}
