.ItemSummaryDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .divContent {
    box-shadow: var(--shadow-thick);
    background-color: var(--light-greay);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 8px;

    .divParagraph {
      margin-right: 10px;
      word-break: break-all;
      font-size: 1.3rem;
    }
  }
}
