.Paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h4 {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--text-color);
  }

  p {
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--text-color);
  }
}
