.formContact {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;

    p {
        text-transform: uppercase;
        font-size: 3.5rem;
        text-align: center;
        font-weight: bold;
    }
    input {
        width: 100%;
        padding: 12px 20px;
        margin-top: 15px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background: transparent;
        border: var(--border);
        color: #fff;
        border-radius: 0;
    }

    button {
        align-self: center;
        background-color: var(--main-color);
        color: white;
        padding: 7px 25px;
        margin: 8px 0;
        border: none;
        border-radius: 16px;
        cursor: pointer;
    }

    button:hover {
        letter-spacing: 0.1rem;
    }
}

@media screen and (max-width: 800px) {
    .formContact {
        flex-basis: 60% !important;
    }
}
