.Information {
    max-width: 500px;

    .header {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .paragraph {
        font-size: 1.3rem;
        font-weight: 300;
        color: #ccc;
    }
}
