.Review {
  display: flex;
  justify-content: space-between;
  border-top: var(--border);
  padding: 20px;

  .divRow {
    display: flex;
    gap: 10px;

    .firstDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      min-width: 150px;

      .imgAndTitle {
        p {
          display: none;
        }
      }
      .imgReviewProduct {
        width: 80px;
        height: 140px;
      }

      .purchaseConfirmed {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 300;
        color: var(--text-color);
      }
    }

    .secondDiv {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 30px;
      gap: 10px;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        .headline {
          .title {
            font-size: 1.6rem;
            margin-bottom: 5px;
            color: var(--text-color);
          }
          .ratingAndData {
            display: flex;
            align-items: center;
            gap: 5px;

            .dateCreated {
              font-size: 1.3rem;
            }
          }
        }

        .comment {
          max-width: auto;
          width: 100%;
          font-size: 1.3rem;
          font-weight: 300;
          color: var(--text-color);
        }
      }

      .mark {
        display: flex;

        .text {
          margin-right: 15px;
          font-size: 1.3rem;
          color: var(--text-color);
        }

        .thumbs {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 1.3rem;
          color: var(--text-color);
          .thumb {
            background-color: transparent;
            color: var(--text-color);
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .Review {
    position: relative;

    .divRow {
      flex-direction: column;
      align-items: flex-start;

      .firstDiv {
        align-items: flex-start;

        .imgAndTitle {
          display: flex;
          align-items: center;
          gap: 10px;

          margin-bottom: 5px;

          .imgReviewProduct {
            max-width: 50px;
            width: 100%;
            height: auto;
          }

          p {
            font-size: 1.6rem;
            display: block;
          }
        }
      }

      .secondDiv {
        margin-top: 5px;
        .content {
          .title {
            display: none;
          }
        }
      }
    }
  }

  .thirdDiv {
    position: absolute;
    top: 10;
    right: 0;
  }
}
