.btnAdd {
    font-size: 13px;
    padding: 10px 15px;
    color: #fff;
    border: var(--border);
    border-radius: 18px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        transition: all 0.3s ease-in-out;
        background-color: var(--grey);
    }
}
@media (max-width: 560px) {
    .btnAdd {
        width: 100%;
        margin-bottom: 20px;
    }
}
