.blogsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;

  .blogsCarousel {
    max-width: 1366px;
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 1366px) {
  .blogsCarousel {
    max-width: 1280px !important;
  }
}

@media (max-width: 1280px) {
  .blogsCarousel {
    max-width: 1024px !important;
  }
}

@media (max-width: 1024px) {
  .blogsCarousel {
    max-width: 900px !important;
  }
}

@media (max-width: 900px) {
  .blogsCarousel {
    max-width: 730px !important;
  }
}

@media (max-width: 730px) {
  .blogsCarousel {
    max-width: 580px !important;
  }
}

@media (max-width: 580px) {
  .blogsCarousel {
    max-width: 450px !important;
  }
}
@media (max-width: 450px) {
  .blogsCarousel {
    max-width: 320px !important;
  }
}
