.btnDiv {
    margin-bottom: 20px;

    .btnSave {
        width: 100%;
        font-size: 1.8rem;
        background: var(--main-color);
        color: #fff;
        border-radius: 16px;
        padding: 5px 0px;
        transition: 0.3s linear;
        cursor: pointer;

        &:hover {
            background-color: var(--main-color-darken);
        }
    }
}
