.OrderDetailsProductOrdered {
  display: grid;
  grid-template-columns: 65px 1fr 1fr;
  border: var(--border);
  border-radius: 12px;
  padding: 10px;
  font-size: 1.3rem;

  .imgDiv {
    max-width: 70px;
    width: 100%;
    height: auto;
  }

  .productNameDiv {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .costDiv {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
  }
}

.boldSpan {
  font-weight: bold;
}

@media (max-width: 600px) {
  .OrderDetailsProductOrdered {
    grid-template-columns: 1fr !important;
    justify-items: center !important;

    .productNameDiv {
      align-self: start !important;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
    }

    .productNameDiv {
      align-self: auto;
      text-align: center;
    }
    .costDiv {
      align-self: auto;
      text-align: center;
    }
  }
}
