.VideoDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    .test {
        width: 750px;
        height: 500px;
    }
}

@media only screen and (max-width: 900px) {
    .test {
        width: 550px !important;
        height: 400px !important;
    }
}
@media only screen and (max-width: 600px) {
    .test {
        width: 450px !important;
        height: 300px !important;
    }
}
@media only screen and (max-width: 500px) {
    .test {
        width: 350px !important;
        height: 200px !important;
    }
}
