.ProductDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: var(--text-color);

  .productDetailsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1000px;
    width: 100%;
    gap: 30px;
    padding: 0 10px;
    margin-top: 50px;

    .productDetailsImage {
      display: flex;
      align-items: center;
      img {
        max-width: 500px;
        width: 100%;
        height: auto;
      }
    }

    .productDetailsContent {
      display: flex;
      flex-direction: column;
      gap: 50px;

      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.7rem;
        font-weight: 300;
      }
      .productDetailsContentButtons {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .productQuantity {
          justify-self: end;
          display: flex;
          flex-direction: row;

          input {
            background: var(--light-greay);
            text-align: center;
            font-size: 1.7rem;
            width: 50px;
            color: var(--text-color);
          }
        }
      }
    }
  }
}
