.ProductDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: #fff;

    .productDetailsSection {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 10px;
        max-width: 1000px;
        width: 100%;
        gap: 30px;
        padding: 0 10px;

        .productDetailsImage {
            display: flex;
            align-items: center;
            img {
                max-width: 500px;
                width: 100%;
                height: auto;
            }
        }

        .productDetailsContent {
            display: flex;
            flex-direction: column;
            gap: 50px;

            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 1.7rem;
                font-weight: 300;
            }
            .productDetailsContentButtons {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .productQuantity {
                    display: flex;
                    flex-direction: row;

                    input {
                        background: #1c1c2f;
                        text-align: center;
                        font-size: 1.7rem;
                        width: 50px;
                        color: #fff;
                    }
                    .btnProductQuantity,
                    .btnAddToBasket {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.7rem;
                        padding: 10px;
                        background: #1c1c2f;
                        color: #fff;
                        text-transform: none;
                        cursor: pointer;
                    }

                    .btnAddToBasket {
                        margin-left: 10px;
                        padding: 10px 40px;
                        background-color: var(--main-color);
                    }
                    .btnProductQuantity:hover {
                        background: #252542;
                    }
                    .btnAddToBasket:hover {
                        background-color: #ce9754;
                    }

                    .btnProductQuantity:nth-of-type(3) {
                        margin-left: 10px;
                    }
                }

                .wishList {
                    align-self: flex-end;
                    display: flex;
                    align-items: center;
                    font-size: 1.7rem;
                    padding: 5px 24px;
                    text-transform: none;
                    background-color: #1c1c2f;
                    color: #fff;
                    cursor: pointer;
                }

                .wishList:hover {
                    background-color: #252542;
                }
            }
        }
    }
}
