.BtnHamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }
}
@media (max-width: 900px) {
    .BtnHamburger {
        display: block !important;
    }

    .BtnHamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .BtnHamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .BtnHamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
