.TeamMember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 390px;
  width: 100%;

  .contentMember {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 1.7rem;
    text-align: center;

    .socialMedia {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;

      .socialMediaBtn {
        font-size: 2.5rem;
        color: #0e76a8;
      }
    }
  }
}

.memberImg {
  position: relative;
  img {
    width: auto;
    height: auto;
  }
}
@media (max-width: 1600px) {
  .TeamMember {
    max-width: 600px;
  }
}

@media (max-width: 500px) {
  .TeamMember {
    margin-top: 10px;
  }
}
