.FooterSection {
    position: absolute;
    right: 0;
    bottom: -200px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #fff;
    background-color: var(--black);
    border-top: var(--border);

    .socialMedia {
        display: flex;
        gap: 10px;
        font-size: 2.5rem;
        margin-top: 10px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--main-color);
            color: #fff;
        }

        a:hover svg {
            transform: rotate(360deg);
        }
    }

    div > ul.navBarFooter {
        display: flex;
        font-size: 2rem;
        gap: 10px;
        list-style-type: none;

        li {
            border: var(--border);
            padding: 5px 10px 5px 10px;
            a {
                color: #fff;
            }
        }

        li:hover {
            background-color: var(--main-color);
        }
    }
    p {
        font-size: 1.5rem;
        margin-bottom: 20px;
        font-weight: 300;
        span {
            color: var(--main-color);
        }
    }
}

@media screen and (max-width: 800px) {
    ul.navBarFooter {
        max-width: 600px !important;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .FooterSection {
        bottom: -300px;
    }
}
