.BtnDeleteProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.BtnDeleteProduct:hover {
  background-color: var(--grey);
}
