.btnEdit {
  padding: 10px 15px;
  font-size: 13px;
  color: var(--text-color);
  background-color: transparent;
  border-radius: 18px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--dark-grey);
  }
}
