.headerSection {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--text-color);
}

@media screen and (max-width: 800px) {
  .headerSection {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 400px) {
  .headerSection {
    font-size: 3.5rem;
  }
}
