.headerSection {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;

    span:nth-of-type(1) {
        color: #fff;
    }
    span:nth-of-type(2) {
        color: var(--main-color);
    }
}

@media screen and (max-width: 800px) {
    .headerSection {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 400px) {
    .headerSection {
        font-size: 3.5rem;
    }
}
