.btnInvoice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: 0.3s linear;
    color: #fff;
    background-color: transparent;
    z-index: 50;
    cursor: pointer;
}

.btnInvoice:hover {
    background-color: rgb(49, 49, 49);
}