.AdminCustomers {
  padding-left: 10px;
  text-align: center;
  font-size: 1.2rem;

  overflow: scroll;

  .tableContent {
    width: 100%;

    .headers {
      td {
        font-weight: bold;
        font-size: 1.2rem;
        text-decoration: underline;
      }
    }

    td {
      height: 50px;
    }
  }
}
