.NavigationBar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    border-bottom: var(--border);
    z-index: 99;

    .hamburger {
        display: none;
        cursor: pointer;
        position: absolute;
        top: 15px;
        left: 15px;

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: #fff;
        }
    }

    .navBar {
        max-width: 1620px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        div {
            img.logo {
                width: 100%;
                margin: 5px 0 5px 0;
            }
        }

        .navMenu {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-type: none;
            gap: 20px;
            font-size: 2rem;

            li > a {
                position: relative;
                color: #fff;
            }
            a:hover {
                color: var(--main-color);
            }

            a:hover::after {
                display: block;
                content: "";
                width: 100%;
                height: 1px;
                background: var(--main-color);
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .btnSection {
            display: flex;
            position: relative;
            gap: 15px;

            .btnDisplay {
                background-color: transparent;
                cursor: pointer;

                .quantityProductsInBasket {
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    background-color: var(--main-color);
                    font-weight: bold;
                    color: #fff;
                    position: absolute;
                    right: -25px;
                    bottom: 5px;
                    font-size: 1.5rem;
                }
            }

            .btnDisplayActive:hover + ul {
                display: flex;
            }
        }
    }
}

@media (max-width: 1080px) {
    .btnDisplayActive {
        display: none;
    }
}

@media (min-width: 1081px) {
    .btnDisplayActiveAside {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .hamburger {
        display: block !important;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navMenu {
        position: fixed;
        left: -100%;
        top: 76px;
        flex-direction: column !important;
        background-color: var(--bg);
        width: 40%;
        text-align: center;
        transition: 0.3s;
        border-bottom: var(--border);
        border-right: var(--border);

        .navItem {
            margin: 16px;
        }
    }

    .navMenu.active {
        left: 0;
    }

    img.logo {
        width: 80% !important;
    }

    .PopupBasket {
        top: 76px !important;
    }
}
