.HomeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  .homeSectionCenter {
    position: relative;
    max-width: 1366px;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }

    .paginationLeftSide {
      div {
        span {
          background-color: var(--main-color);
        }
      }
    }
  }
}
