.CarouselDots {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    left: 25px;
    bottom: 20px;
    padding: 10px;
    z-index: 2;
    cursor: default;

    .spanDot {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #ccc;
        cursor: pointer;
    }

    .activeDot {
        background-color: var(--main-color);
        border: var(--border);
    }
}
