.ShipmentSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 50px;

    .wrapper {
        display: flex;
        gap: 25px;
        max-width: 1366px;
        width: 100%;
        margin: 0 20px;

        .container {
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 12px;
            padding: 100px 30px;

            .content {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h2 {
                    font-size: 2.5rem;
                    text-transform: capitalize;
                    font-weight: 400;
                }

                p {
                    font-size: 1.4rem;
                    max-width: 200px;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .ShipmentSection {
        .wrapper {
            flex-direction: column;

            .container {
                padding: 50px 25px;
            }
        }
    }
}

@media (max-width: 580px) {
    .ShipmentSection {
        margin: 0 20px;

        .content {
            p {
                max-width: 150px !important;
            }
        }
    }
}

@media (max-width: 350px) {
    .ShipmentSection {
        margin: 0 10px;
    }
}
