.TextareaCom {
    position: relative;

    textarea {
        width: 100%;
        min-height: 100px;
        padding: 10px 10px 30px 10px;
        box-sizing: border-box;
        border: var(--border);
        border-radius: 8px;
        color: #fff;
        overflow-y: hidden;
        background-color: var(--black);
        font-size: 1.3rem;
        resize: none;

        line-height: 20px;

        &::placeholder {
            color: #ccc;
            opacity: 0.7;
        }
    }

    .countLength {
        position: absolute;
        bottom: 25px;
        right: 15px;
        font-size: 1.3rem;
        color: #ccc;
    }
}
