.AdminProductDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  font-size: 1.2rem;

  .headerText {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
  }

  dl {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .producText {
      display: flex;
      gap: 5px;

      dt {
        text-transform: capitalize;
      }
    }
  }
  .producText {
    &:nth-child(odd) {
      font-weight: bold;
    }
  }
}

// .AdminProductDetails:nth-child(odd) {
//   font-weight: bolder;
//   background-color: red;
// }
