.AdminProductDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  font-size: 1.2rem;

  .headerText {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
  }

  dl {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .producText {
      display: flex;
      gap: 5px;

      dt {
        text-transform: capitalize;
      }

      dd {
        word-wrap: break-word;
      }
    }
  }

  .producText:nth-child(odd) {
    font-weight: bold;
  }
}

@media (max-width: 800px) {
  dd {
    max-width: 600px;
  }
}
@media (max-width: 680px) {
  dd {
    max-width: 320px;
  }
}
@media (max-width: 420px) {
  dd {
    max-width: 280px;
  }
}
@media (max-width: 350px) {
  dd {
    max-width: 220px;
  }
}
