.Item {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  color: var(--text-color);
  border: var(--shadow-thick);
  border-radius: 12px;
  background-color: var(--light-greay);

  .leftSide {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 100%;
      max-width: 50px;
      height: auto;
      cursor: pointer;
    }

    p {
      font-size: 1.5rem;
      transition: 0.3s linear;
      cursor: pointer;

      &:hover {
        color: var(--main-color);
      }
    }
  }

  .rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .price {
      text-align: right;

      p:nth-of-type(1) {
        color: var(--text-color);
        opacity: 0.7;
        text-decoration: line-through;
        font-size: 1.3rem;
      }
      p:nth-of-type(2) {
        font-size: 1.4rem;
      }
    }

    .selectMate {
      position: relative;
      border: var(--border);
      border-radius: 16px;

      &:focus {
        border-radius: 16px 16px 0 0;
      }

      .dropdownEl {
        background-color: var(--dark-grey);
        color: var(--text-color);
        border: none;
        border-radius: 16px;
        padding: 6px;
        cursor: pointer;

        :focus {
          border-radius: 16px 16px 0 0 !important;
        }

        option {
          text-align: center;
          cursor: pointer;
        }
      }
    }

    .btnDisplay {
      display: none;
    }
  }
}

.Item:nth-last-of-type(1) {
  border-bottom: none;
}

@media (max-width: 500px) {
  .Item {
    padding: 12px 8px !important;

    .buttons {
      display: none !important;
    }

    .btnDots {
      display: block !important;
    }
  }
}
