.MedProductView {
  display: flex;
  flex-direction: row;
  padding: 20px;
  position: relative;
  box-shadow: var(--shadow-thick-bottom);
  cursor: pointer;

  &:nth-of-type(1) {
    box-shadow: var(--shadow-thick-top-bottom);
  }

  &:hover {
    border-radius: 12px;
    box-shadow: var(--shadow-thick);

    .showBtns {
      visibility: visible !important;
      opacity: 1 !important;
    }
  }

  .divLeft {
    display: flex;
    align-items: center;
    width: 120px;

    .productImg {
      width: 80px;
      height: 140px;
    }
  }
  .divCenter {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-grow: 1;
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;

    .spanProductName {
      font-size: 1.7rem;
      font-weight: 500;
    }
  }
  .divRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .divPrice {
      display: flex;
      flex-direction: column;
      // justify-content: flex-end;
      align-items: flex-end;

      .spanOldPrice {
        text-decoration: line-through;
        font-size: 1.5rem;
        opacity: 0.7;
      }

      span {
        font-size: 2.2rem;
      }
    }

    .showBtns {
      transition: 0.3s linear;
      visibility: hidden;
      opacity: 0;
    }
  }
}

.MedProductView:has(+ .MedProductView:hover):not(:first-child) {
  box-shadow: none;
}

.MedProductView:has(+ .MedProductView:hover):first-child {
  box-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px 0px;
}

@media (pointer: coarse) {
  .showBtns {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

@media (max-width: 700px) {
  .MedProductView {
    display: grid !important;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 1fr 50px;

    .divCenter {
      justify-content: flex-start;
      align-items: flex-start;
    }

    .divRight {
      grid-column: 1 / span 2;
      grid-row: 2;
      flex-direction: row !important;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
    }
  }
}
