.AdminCustomerMessageItem {
  font-size: 1.2rem;

  .customerData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 500px;

    span {
      text-decoration: underline;
    }
  }

  .btnsAction {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    .btnCustomerMessageItem {
      width: 100%;
      font-size: 1.5rem;
      padding: 10px;
      background-color: var(--main-color);
      color: var(--bg);
      border-radius: 8px;
      cursor: pointer;
      transition: 0.2s linear;
      &:hover {
        background-color: var(--main-color-darken);
      }
    }
  }
}

@media (max-width: 450px) {
  .customerData {
    flex-direction: column !important;
    gap: 5px;
  }
}
