.AboutUsNavList {
    display: flex;
    justify-content: center;

    .navListElements {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        max-width: 600px;
        flex-basis: 100%;
        font-size: 2rem;
        margin: 10px;
        a {
            color: #fff;
        }
        li {
            position: relative;
        }
        a:hover {
            color: var(--main-color);
        }

        .activeStyle {
            color: var(--main-color);
        }
        .activeStyle::after {
            color: var(--main-color);
            display: block;
            content: "";
            width: 100%;
            height: 1px;
            background: var(--main-color);
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

@media (max-width: 500px) {
    .navListElements {
        max-width: 300px !important;
    }
}
