.ExtraInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 450px;

    .divStyle {
        display: flex;
        flex-direction: column;

        h4 {
            font-size: 1.5rem;
        }

        .divContent {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;

            .labelCheckBox {
                font-size: 1.3rem;
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;

                .bgInput {
                    accent-color: var(--main-color);
                }
            }

            .showParagraph {
                font-size: 1.3rem;
                transition: 0.3s linear;
            }
        }
    }
}
