.ExtraInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 450px;

    .divStyle {
        display: flex;
        flex-direction: column;

        h4 {
            font-size: 1.5rem;
        }

        .info {
            display: flex;
            align-items: center;
            gap: 3px;
            color: #ccc;
            margin-top: 10px;

            p {
                font-size: 1.3rem;
            }
        }

        .divContent {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;

            .labelCheckBox {
                font-size: 1.3rem;
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;

                .bgInput {
                    accent-color: var(--main-color);
                }
            }

            .showParagraph {
                font-size: 1.3rem;
                transition: 0.3s linear;
            }

            .divTextArea {
                position: relative;

                textarea {
                    width: 100%;
                    min-height: 100px;
                    padding: 10px 10px 30px 10px;
                    box-sizing: border-box;
                    border: var(--border);
                    border-radius: 8px;
                    color: #fff;
                    overflow-y: hidden;
                    background-color: var(--grey);
                    font-size: 1.3rem;
                    resize: none;
                    margin-bottom: 15px;
                    line-height: 20px;

                    &::placeholder {
                        color: #ccc;
                    }
                }

                .countLength {
                    position: absolute;
                    bottom: 25px;
                    right: 15px;
                    font-size: 1.3rem;
                    color: #ccc;
                }
            }
        }
    }
}
